.mainMenuButton-over {
    -fx-background-color:  rgb(240,237,225);
    -fx-text-fill: rgb(0,65,137);
}

.button-over {
    -fx-background-color: rgb(0,65,137);
    -fx-text-fill: rgb(240, 237, 225);
}

.button-over:hover {
    -fx-background-color:  rgb(240,237,225);
    -fx-text-fill: rgb(0,65,137);
}


.background-over{
    -fx-background-color: rgb(0,65,137);
}

.whiteBackground-over{
    -fx-text-fill: rgb(240, 237, 225);
}

.text-fill {
    -fx-text-fill: rgb(0,65,137);
}

